<template>
  <div>
    <div class="grid grid-cols-4 gap-5">
      <div v-for="p in products">
        <ProductCard :product="p" />
      </div>
    </div>
  </div>
</template>

<script setup>
const { id } = useRoute().params;
const uri = "https://fakestoreapi.com/products/category/" + id;

//  fetch the products by category
const { data: products } = await useFetch(uri);
definePageMeta({
  layout: "products",
});
</script>
